<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="deco.css">
</head>
<body>
 
<div class="livret">
  <a href="/donnee"> envoyez les données aleatoire</a> 
  <div>
    <a href="/ident"><h1>voire la Liste Abonnées</h1></a>
  </div>
 
  <div class="abonnées">
    <a href="/form"><h1>Inscrivez vous ici</h1></a>
  </div>

   
</body>
</html>