<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/deco.css">
</head>
<body>
<form action="" method="POST">
 <label for="noms">
    <h1>votre nom</h1>
    <input type="text" placeholder="math..." name="noms" id="noms">
 </label>
 <label for="prenoms">
    <h1>votre prenom</h1>
    <input type="text" placeholder="alice rivo..." name="prenoms" id="prenoms">
 </label>
 <label for="age">
    <h1>votre age</h1>
    <input type="number" placeholder="math..." name="age" id="age">
 </label>

    <h1> <input type="submit" value="<%=boutton%>"></h1>
</form>
</body>
</html>